/* Navbar.css */
a {
    text-decoration: none;
}

.custom-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #000000eb; /* Dark gray */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Shadow effect */
    padding: 0.5rem 1rem; /* Vertical and horizontal padding */
    padding-bottom: -2vh;
    max-height: 8.4vh;
    max-width: 100%;
    overflow: hidden;
}
.navbar-nav{
    margin-top: 3vh;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #f8f9fa !important; /* Light color text */
}

.nav-link {
    color: #f8f9fa !important; /* Light color text */
    margin-right: 1rem; /* Right margin */
}

.nav-link:hover {
    color: #adb5bd !important; /* Light gray text on hover */
}

/* Login and Register buttons */

.login-button,
.register-button {
    background-color: #97902e !important; /* Purple color */
    color: #f8f9fa !important; /* Light color text */
    border-radius: 5px; /* Rounded corners */
    padding: 0.5em 1em; /* Padding */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

.login-button:hover,
.register-button:hover {
    background-color: #757129 !important; /* Darken purple color on hover */
}

.register-button {
    margin-left: 0.5rem; /* Space between login and register button */
}

@media screen and (max-width: 600px) {
    .custom-navbar {
      padding:0;
      max-height: 25vh;
    }
    h2{
        margin:0;
        margin-top: 10%;
    }
    .navbar-nav{
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
    }
    .register-button,
    .login-button{
        background-color: #ffffff00 !important;
        padding: 0;
    }
}